body{
    background-color:rgb(202, 209, 215);
    margin:0
}

.container{
    margin: 20px auto 20px;
    max-width: 900px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
}

.profile{
    max-width: 300px;
    max-height: 300px;
    margin: 10px 300px;
    border-radius: 50%;
    border: 5px solid rgb(44, 62, 80);
}

h1{
    color: rgb(44, 62, 80);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

h2{
    color: grey;
    text-align: center;
    font-size: 35px;
}

.details{
    text-align: center;
}

.details p{
    display: inline;
}

.line{
    margin: auto;
    max-width: 850px;
    border: 1.5px solid grey;
    opacity: 0.3;
}

h3{
    margin-left: 30px;
    color: rgb(44, 62, 80);
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
}

.aboutme{
    margin:25px 25px 0 25px
}

.workplace{
    font-size: 22px;
    font-weight: bold;
    color: rgb(44, 62, 80);
    margin-left: 25px;
}
.period{
    color:gray;
    opacity: 0.7;
    margin-left: 25px;
    margin-top: 10px;
}

.positions li{
    color:gray;
    margin-left: 40px;
}

.faculty{
    font-size: 22px;
    font-weight: bold;
    color: rgb(44, 62, 80);
    margin-left: 25px;
}

.university{
    margin-left: 25px;
    margin-bottom: 0;
}

.skills p{
    color: rgb(26, 36, 46);
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
}

.skills ul{
    display: inline-block;
    width: 225px;
    margin-left: 25px;
    background-color: rgb(221, 251, 251);
    border-radius: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.skills li{
    color: rgb(0, 195, 255);
}

.skills li span{
    color:grey;
    font-size: 20px;
}